body {
    
    background-image: url('../images/nowweather.jpg');
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin: 150px 0px;
    text-align: center;
}
form {
    margin-bottom: 20px;
}

header {
    color: #db1f1f;
    padding: 0;
    background: white; /* Corrected background color */
}
header.header.logo {
    width: 70px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    margin-right: 0px; /* Space between logo and text */
}
input[type="text"] {
    border-radius: 10px;
    padding: 20px 250px 20px 70px;
    margin: 0px;
    font-size: 16px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.error {
    color: red;
    font-weight: bold;
}
* {
    border: none;
}